body.scroll-lock {
    /* scoll-bar 없애기 ==> 높이 100%를 넘어가는 컨텐츠는 hidden처리 */
    overflow: hidden;
    height: 100%;
}

button {
    border: 0;
    outline: none;
    cursor: pointer;
}

.modal-open-button {
    width: 180px;
    height: 60px;
    margin: 0 auto;
    display: block;
    background-color: #4a5e72;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

.box {
    width: 600px;
    height: 400px;
    margin: 16px auto;
    background-color: #123;
}


.dimmed-layer.show {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    /* 전체 화면 */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0 0 0 / 50%);
    height: 100%;
    overflow: hidden;
    z-index: 10000;
}

.modal.show {
    display: block;
}

.modal-wrap {
    position: fixed;
    /* 중앙에 위치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* modal size */
    width: 450px;
    height: auto;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
}

.modal-header {
    font-size: 24px;
}

.modal-body {
    padding: 12px 0;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.modal-button {
    width: 50%;
    height: 48px;
    border-radius: 4px;
    font-size: 16px;
}

.modal-button.cancel {
    margin-right: 4px;
}

.modal-button.confirm {
    margin-left: 4px;
    background-color: #4ae7c2;
}